*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-list
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}

th, td
{
    text-align: center;
}