* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-card
{
    display: flex;
    justify-content: center;
    margin: 2vh;
}

.card
{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 85vh;
    background: linear-gradient(rgb(72, 168, 246), rgb(22, 118, 197));
    border-radius: 3vh;
}

.top-card
{
    display: flex;
}

#img-chip
{
    margin-top: 20vh;
    margin-left: 5vh;
    height: 8vh;
}

#img-approximation
{
    height: 5vh;
    margin-bottom: 1.5vh;
    margin-left: 1vh;
    filter: invert(100%);
}

#img-mastercard
{
    margin-left: 45vh;
    margin-top: 2vh;
    height: 10vh;
}

.bottom-card
{
    display: flex;
    align-items: flex-end;
    height: 20vh;
}

.bottom-card h1
{
    color: white;
    font-size: 8vh;
    margin-left: 4vh;
}

.bottom-card p {
    color: white;
    margin-left: 2vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}